<app-navbar></app-navbar>


<div class="container main-container">
  <h1>Demos <small>angular</small></h1>
  <hr>
  <!-- <app-ng-style></app-ng-style>
  <hr>
  <app-css></app-css>

  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam natus eos omnis ipsa ad non, quidem iusto sit illo
    numquam veniam! Tempore animi quae neque aperiam, eligendi est temporibus recusandae.
  </p>

  <hr>
  <app-clases></app-clases>
  <hr>
  <app-ng-switch></app-ng-switch> -->


  <router-outlet></router-outlet>

</div>